@media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {
    .container {
        max-width: 1300px;
    }
}

@media (max-width: 768px) {
    .header-top-right {
        justify-content: flex-start !important;
    }
}

@media (max-width: 1200px) {
    .about-me-title {
        padding-top: 15px;
    }
}




.container-fluid {
    padding: 0;
}